@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', Geneva, Tahoma, sans-serif;
}
html{
    scroll-behavior: smooth;
}
#navbar{
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    text-align: left;
    border-color: rgba(0, 22, 22, 0.4);
}
#navbar li:nth-child(12){
    margin-bottom: 0;
    border-bottom: 0;
}
#navbar li{
    /* border-bottom: 2px solid black;*/
    margin:10px 28px ; 
    list-style-type: none;
    /* font-size: 1em;*/
    /* padding: 11.420px 25px;  */
}
#navbar a{
    text-decoration: none;
    color: rgb(54, 54, 54);
}
#navbar header{
    font-weight: 100;
    padding: 20px;
    border-bottom: 2px solid #000;
    font-size: 2em;
    margin: 0;
    /* text-align: left; */
}

main{
    text-align: left;
    max-width: 860px;
    float: right;
    margin-right:20px;
}
 p,li{
    font-size: .950em;
    padding: 10px 0;
    margin-left: 25px;
    color: rgb(51, 51, 51);
}
li{
    padding: 10px 0;
    margin-left: 80px;
}
header{
    margin: 20px 0px;
    font-size: 2em;
}
code{
    width: 93%;
    line-height: 1.9;
    margin:5px 23px;
    display: block;
    font-size: .8em;
    border-radius: 4px;
    padding: 10px 20px;
    background-color: rgb(228, 228, 228);
}
#list{
    padding-left:70px ;
}
#list li{
    list-style:circle;
}
@media (max-width:1236px) {
    #navbar{
        background-color: white;
        position: relative;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        text-aling:center;
        max-height: 275px;
        border: none;
        z-index: 1;
        border-bottom: 2px solid;
        overflow-y: scroll;
    }  
    /* main{
        float: none;
        margin: 20px 50px;
        max-width: 1200px;
    }       */
}
@media (max-width:500px) {
    p,li{
        font-size: .7em;
    }
    header{
        font-size: 1.2em;
    }
    code{
        padding: 6px;
        font-size: .550em;
    }
    li{
    margin-left: 20px;
    }
    p{
        margin-left: 10px;
    }
}
